In [1]:
import pandas as pd 
import numpy as np

In [22]:
X = pd.read_excel("../reduced_table_with_timestamps_and_props.xlsx", sheet_name="X", index_col="ID")
X = X.drop(["prop", "Summe"], axis=0)
X

,created,T1548.002,T1548.001,T1134,T1134.002,T1134.004,T1134.005,T1134.001,T1531,T1087.002,...,T1125,T1497,T1497.001,T1497.003,T1497.002,T1102,T1102.002,T1102.001,T1102.003,T1047
ID,,,,,,,,,,,,,,,,,,,,,
S0066,2017-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0065,2017-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0045,2017-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0073,2017-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0092,2017-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S0455,2020-05-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
S0457,2020-05-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
S0459,2020-05-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0458,2020-05-27,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
S0460,2020-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
created = X["created"]
created.value_counts() # 63 time steps

2017-05-31    149
2018-10-17     51
2018-04-18     43
2018-01-16     26
2019-01-30     15
             ...
2019-06-14      1
2019-06-21      1
2019-05-14      1
2020-05-13      1
2019-07-09      1
Name: created, Length: 63, dtype: int64

In [14]:
# proplem: in first two steps laying 50% of data
# in first 5 steps  approx 75%

In [25]:
#Xt = X.set_index(pd.DatetimeIndex(X["created"])).T.drop(["created"])
Xt = X.T 
Xt

ID,S0066,S0065,S0045,S0073,S0092,S0099,S0129,S0031,S0128,S0127,...,S0450,S0452,S0453,S0454,S0456,S0455,S0457,S0459,S0458,S0460
created,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,2017-05-31 00:00:00,...,2020-05-18 00:00:00,2020-05-20 00:00:00,2020-05-21 00:00:00,2020-05-22 00:00:00,2020-05-26 00:00:00,2020-05-26 00:00:00,2020-05-26 00:00:00,2020-05-27 00:00:00,2020-05-27 00:00:00,2020-05-29 00:00:00
T1548.002,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
T1548.001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1134.002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
T1102.002,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
T1102.001,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
T1102.003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
T1047,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
temp = pd.DataFrame([])
for date in X["created"].value_counts().index:
    #print(date)
    #Xt[date] = #summe Xt[created == date]
    temp = X[X["created"] == date].T.drop("created").sum(axis=1)
    break
    
temp

T1548.002    8.0
T1548.001    0.0
T1134        2.0
T1134.002    0.0
T1134.004    0.0
            ...
T1102        0.0
T1102.002    8.0
T1102.001    5.0
T1102.003    2.0
T1047        2.0
Length: 269, dtype: float64

In [36]:
max(temp)

55.0

In [37]:
temp.isin([0]).sum()

89

In [38]:
# falls summieren
# option 1
#   - teilen durch maximum -> viele Techniques werden klein
#   -

In [39]:
temp2 = temp / max(temp)
temp2

T1548.002    0.145455
T1548.001    0.000000
T1134        0.036364
T1134.002    0.000000
T1134.004    0.000000
               ...
T1102        0.000000
T1102.002    0.145455
T1102.001    0.090909
T1102.003    0.036364
T1047        0.036364
Length: 269, dtype: float64

In [40]:
temp2.mean()

0.07982426495437649

In [42]:
temp2[ temp2 > 0.5].count()

11